.container {
    text-align: center;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
}

button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

.form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 8px;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    margin: 0 30px!important;
    width: 60%;
}